body {
  background-image: url("../images/background.jpg");
  background-attachment: fixed;     
  background-size: cover;
  font-family: 'Cormorant', serif;
  font-size: 16pt;
  line-height: 1.5; 
}

h1, h2, h3 {
  font-family: 'Reem Kufi', sans-serif;}

h1 {  
  font-size: 3em;
  padding: 5px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  padding: 5px;
}

h3 {
  font-size: 1.2em;
}

h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  padding-bottom: 2px;
 }

p {
  margin: 5px auto 5px auto;
}

a:link {
  color: #424949;
  text-decoration-style: underline;
}

a:visited {
  color: lightslategray;
  text-decoration-style: underline;
}

a:hover{
  color: #ffd700;
  text-decoration-style: underline;
}

.nav_links a:link{
 color: #ffffff
}

.nav_links a:visited{
  color: #ffffff;
}

.nav_links a:hover{
  color: #ffd700;
  text-decoration: underline;
}

.nav_links a.current{
  font-weight: bolder;

}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -50px;
}

.skip a:focus{
  top: 0px;
}

ul {
  list-style-position: outside;
}

form{
  border: 2px solid black;
  background-color: #CCD1D1;
  
}

legend{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-right: 5px;
}

label{
  display: inline-block;
  margin-right: 8px;
}

input{
  width: 90%;
  padding: 12px 20px;
  margin: 8px 8px;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}

input:focus{
  border: 2px solid #ffd700;

}

span{
  margin-left:20%;
  font-family: italic;
  font-weight: bold;
}

textarea{
  width: 90%;
  height: 35vh;
  padding: 12px 20px;
  margin: 8px 8px;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}


input[type=checkbox]{
    display:inline;
    width:inherit;

}

input[type=submit] {
  background-color: #ffd700;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

input[type=submit]:hover {
  opacity: 0.8;
}

.container{
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}

.banner {
  background-color: #ffffff;
  border: 5px dashed black;
  margin: 30px;
  grid-column: 1 / -1;  
  grid-row: 1 / 1; 
}

.banner p{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px
}

.about-me, .education, .contact-info, .dissertation, .articles, .reviews, .editing, .secondary, .university{
  background-color: #ffffff;
  border: 5px dashed black;
  padding: 30px;
  margin: 30px;
}

.about-me {
  grid-column: 2 / -1;
  grid-row: 2 / auto;
} 

.editing {
  grid-column: 3 / -1;
  grid-row: 2 / auto;
  text-align: right;
}

.dissertation{
  grid-column: 2 / -1;
  grid-row: 2 / auto;
} 

.about-me-photo{
  float: left;
  height: auto;
  padding-right: 10px;
}

.about-me-text {
  padding-left: 10px;
  margin-left: 10px;
  line-height: normal;
}

.about-me h2, .dissertation h2 {
  text-align: right;
}

.education, .secondary, .articles {
  grid-row: 3 / auto;
  grid-column: 1 / span 3;
}

.secondary, .secondaryh2 {
  text-align: left;
}


.contact-info, .contact-info h2, .university {
  text-align: right;
  grid-row: 4 / auto;
  grid-column: 3 / -1;
}

.reviews {
  text-align: right;
  grid-row: 4 / auto;
  grid-column: 2 / -1;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;
  padding: 0px 0px 20px;
  grid-column: 5 / auto;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
  border: 1px solid black;
}

/* Style the back side */
.flip-card-back {
  background-color: #ffd700;
  color: black;
  border: 1px solid black;
  transform: rotateY(180deg);
}

.flip-card h1{
  font-size: 1em;
}

.flip-card p{
  font-size: 1em;
  line-height: 1;
}

.flip-card a{
  color: #424949;
  text-decoration: underline solid;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75em;
}

.gallery{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 10px;
  padding: 10px 10px;
} 

.gallery a:hover{
  opacity: 0.75;
}

.gallery img:hover{
  border: 5px solid #ffd700;
}

nav{
  background-color: #000000;
  padding: 25px 0; 
  text-align: left;
  width: 100%;
}

nav li{
  display:inline;
  padding-right:20px;
  padding-left: 5px;

}

nav a{
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif; 
}

nav a.active{
  font-weight: bolder;
}

footer{
  position: absolute;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 850px){
  /* Navbar */
  header{
    /*Your code here again.*/
    flex-direction: row; 
    justify-content: space-between; 
  }

  .nav_links{
    /*Your code here again.*/ 
    flex-direction: row; 
  }

  .nav_item a{
    padding: 10px;
  }
}